
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: rgb(120, 192, 192);
    overflow: hidden;
}
.Task1{
    max-width: 410px;
    margin: 135px auto;
    background: rgb(253, 253, 253);
    border-radius: 7px;
    padding: 28px 0;
}
.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img{
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}
.task-input input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #8f8b8b;
    padding: 0 20px 0 53px;
}
.task-input input::placeholder{
    color: #b7b7b7;
}
.body1{
    padding: 18px 25px;
    border-bottom: 1px solid #cacaca;
}
.body1, li{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.effects span{
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}
.effects span.active{
    color: rgb(59, 174, 216);
}
.body1 .clr-btn{
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(66, 178, 226);
    padding: 7px 13px;
    font-size: 13px;
    border-radius: 4px;
}
.task-box{
    margin: 20px 25px;
}
.task-box .task-box1{
    list-style: none;
    font-size: 20px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #adacac;
}
.task-box .task-box1:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.task-box1 label{
    display: flex;
}
.task-box1 p.checked{
    text-decoration: line-through;
}
.task-box1 label input{
    margin-top: 6px;
    margin-right: 12px;
}
.task-box1 .reset{
 cursor: pointer;
 position: relative;
}
.reset .task-menu{
    position: absolute;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    background: #fff;
    border-radius: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
}
.reset .task-menu.show{
    transform: scale(1);
}
.task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}
.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: #f5f5f5;
}
.task-menu li i{
    padding-right: 8px;
}